{{template "share" .}}

{{define "css"}}
{{end}}

{{define "content"}}
<div class="mb-3">
    <div class="d-flex align-items-center gap-2 mb-4">
        <input type="text" class="form-control" id="query" placeholder="關鍵字查詢 +,&" value="{{.Q}}">
        <button type="button" class="btn btn-success flex-shrink-0 ms-auto" onclick="onQuery()">查詢</button>
        <button type="button" class="btn btn-danger flex-shrink-0" onclick="onClear()">清除</button>
    </div>
</div>
{{ if .List }}
    {{range .List}}
    <div class="card mt-2 border border-2">
        <div class="card-body">
            <h5 class="card-title fw-bold fs-5 text-primary mb-3">[{{.Title}}]</h5>
            <div class="card-text border p-2">{{trans .RowID .Content}}</div>
            <div class="d-flex justify-content-between align-items-center gap-2 mt-2">
                <div class="d-flex gap-3 text-start">
                    <span class="small text-decoration-underline">{{format .UpdateDt}}</span>
                    <span class="small">分類: {{.PathName}}</span>
                </div>
                <div class="d-flex gap-2">
                    <a class="btn btn-outline-primary btn-sm" onclick="directTo('{{encrypt .RowID}}')">修改</a>
                    <a class="btn btn-outline-danger btn-sm" onclick="onDel('{{encrypt .RowID}}')">刪除</a>
                </div>
            </div>
        </div>
    </div>
    {{end}}
{{ else }}
    <div class="alert alert-danger border rounded" role="alert">
    <strong>提示：</strong> 目前無資料
</div>
{{ end }}
{{end}}

{{define "js"}}
<script>
    function directTo(id){
        location.href = "/article/edit/"+id;
    }
    function onDel(id){
        const params = {
            id: id,
        };
        $.ajax({
            url: "/api/v1/article/del",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(params),
            success: function (response) {
                if (!response.hasOwnProperty('Code')) {
                    location.href = "/" ;
                    return;
                }
                if(response.Code == "OK"){
                    alert("刪除文章成功！");
                    location.reload();
                    return;
                }
                alert("刪除文章失敗", response.Code);
            },
            error: function (xhr, status, error) {
                console.error("刪除文章失敗：", error);
                alert("刪除文章失敗，請稍後再試！");
            }
        });
    }
    function onClear(){
        location.replace("/article/list");
    }
    function onQuery(){
        let q = $("#query").val() ;
        if(q.length ==0){
            alert("未設置查詢內容") ;
            return
        }
        const encoded = encodeURIComponent(q) ;
        location.href = `/article/list?q=${encoded}`;
    }
</script>
    
{{end}}