{{template "share" .}}

{{define "css"}}
<style>
    /* ------------------------------------------- */
    /* 主介面 - 文字顯示區樣式 */
    /* ------------------------------------------- */
    #display_selected {
        border: 1px solid #ced4da;
        padding: .375rem .75rem;
        background-color: #e9ecef;
        /* 淺灰色背景 */
        min-width: 150px;
        border-radius: .25rem;
        color: #495057;
        font-weight: bold;
        flex-shrink: 0;
    }

    /* 確保 Modal 內容區有足夠的內距 */
    .modal-body {
        padding: 1.5rem;
    }
</style>
{{end}}

{{ define "category" }}
<ul class="list-group">
    {{ range . }}
    <li class="list-group-item">
        <div class="d-flex align-items-center">
            <div>
                {{ if .Children }}
                    <div data-bs-toggle="collapse" data-bs-target="#node-{{.El_UID}}" style="cursor:pointer;">
                    ⊞ <span id="label-{{.El_UID}}">{{.PathName}}</span>
                    </div>
                {{ else }}
                <div>
                    ⊟ <span id="label-{{.El_UID}}">{{.PathName}}</span>
                </div>
                {{ end }}
                <input type="text" class="form-control form-control-sm d-none" id="input-{{.El_UID}}" value="{{.PathName}}" style="width:auto; min-width:150px;">
            </div>
            <div class="ms-auto d-flex gap-2">
                <button class="btn btn-sm btn-outline-success" onclick="start_edit('{{.El_UID}}')" id="edit-btn-{{.El_UID}}">修改</button>
                <button class="btn btn-sm btn-outline-info" onclick="start_move(2, '{{.El_NodeID}}')" id="move-btn-{{.El_UID}}" data-bs-toggle="modal" data-bs-target="#node_modal">搬移</button>
                <button class="btn btn-sm btn-outline-primary d-none" onclick="confirm_edit('{{.El_UID}}', '{{.El_NodeID}}')" id="confirm-btn-{{.El_UID}}">確認</button>
                <button class="btn btn-sm btn-outline-secondary d-none" onclick="cancel_edit('{{.El_UID}}')" id="cancel-btn-{{.El_UID}}">取消</button>
                <button class="btn btn-sm btn-outline-danger" onclick="del_node('{{.El_NodeID}}')" id="delete-btn-{{.El_UID}}">刪除</button>
            </div>
        </div>
        {{ if .Children }}
        <div class="collapse show mt-2 ms-2" id="node-{{.El_UID}}">
            {{ template "category" .Children }}
        </div>
        {{ end }}
    </li>
    {{ end }}
</ul>
{{ end }}

{{define "content"}}
<div class="mt-3 mb-3">
    <div class="d-flex align-items-center gap-2 mb-4">
        <button type="button" class="btn btn-outline-primary flex-shrink-0" onclick="set_mode(1);" data-bs-toggle="modal" data-bs-target="#node_modal">挑選父節點</button>
        <span id="display_selected">尚未挑選父節點</span> <input type="text" class="form-control" id="mainTextInput" placeholder="輸入節點名稱">
        <button type="button" class="btn btn-success flex-shrink-0" onclick="add_node();">增加節點</button>
    </div>
</div>
<div class="mb-3">
    {{ template "category" .List }}
</div>
<div class="modal fade" id="node_modal" tabindex="-1" aria-hidden="true" onclick="onBlur(event)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">請選擇節點</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-wrap gap-2">
                    <button type="button" class="btn btn-outline-info" onclick="select_node('{{encrypt .RootID}}', 'Root')">Root</button>
                    {{range .NodeMap}}
                    <button class="btn btn-outline-info" onclick="select_node('{{.El_NodeID}}', '{{.PathName}}')">{{.Path}}</button>
                    {{end}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onBlur(event)">關閉 Panel</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    function onBlur(event){
        $(event.target).blur();
    }

    var node_id ;
    function add_node(){
        if (node_id == undefined || node_id.length == 0) {
            alert("請先點擊「挑選父節點」按鈕，選擇一個父節點！");
            return;
        }
        const node_name = $("#mainTextInput").val();
        if (node_name.trim() === "") {
            alert("請輸入新的節點名稱！");
            return;
        }

        const params = {
            id: node_id,
            label: node_name
        };
        $.ajax({
            url: "/api/v1/node/add",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(params),
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error("新增節點失敗：", error);
                alert("新增節點失敗，請稍後再試！");
            }
        });
    }

    var mode = 1 ;
    function set_mode(p_mode){
        mode = p_mode ;
    }
    
    function select_node(id, name){
        node_id = id ;
        $("#display_selected").text(name);
        const modalEl = document.getElementById('node_modal');
        const modal = bootstrap.Modal.getInstance(modalEl);
        if(modal){
            modal.hide();
        }
        if(mode != 2){
            return
        }
        confirm_move() ;
    }
    
    function del_node(id){
        const params = {
            id: id
        };
        $.ajax({
            url: "/api/v1/node/del", // 根據你的後端路由調整
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(params),
            success: function (response) {
                if (!response.hasOwnProperty('Code')) {
                    location.href = "/" ;
                    return;
                }
                if(response.Code != "OK"){
                    alert(response.Code)
                    return ;
                }
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error("刪除節點失敗：", error);
                alert("刪除節點失敗，請稍後再試！");
            }
        });
    }

    function start_edit(id) {
        $("#label-" + id).addClass("d-none");
        $("#input-" + id).removeClass("d-none");

        $("#edit-btn-" + id).addClass("d-none");
        $("#delete-btn-" + id).addClass("d-none");

        $("#confirm-btn-" + id).removeClass("d-none");
        $("#cancel-btn-" + id).removeClass("d-none");

        $("#move-btn-" + id).addClass("d-none");
    }

    function reset(id){
        $("#label-" + id).removeClass("d-none");
        $("#input-" + id).addClass("d-none");

        $("#edit-btn-" + id).removeClass("d-none");
        $("#delete-btn-" + id).removeClass("d-none");

        $("#confirm-btn-" + id).addClass("d-none");
        $("#cancel-btn-" + id).addClass("d-none");

        $("#move-btn-" + id).removeClass("d-none");
    }

    function cancel_edit(id) {
        reset(id) ;

        const original_text = $("#label-" + id).text(); // 還原 input 內容
        $("#input-" + id).val(original_text);
    }

    let target_node ;
    function start_move(p_mode, id) {
        set_mode(p_mode);
        target_node = id ;
    }

    function confirm_move(){
        console.log("觸發搬移", node_id, target_node) ;
        const params = {
            parent_id: node_id,
            current_id: target_node
        };

        $.ajax({
            url: "/api/v1/node/move",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(params),
            success: function (response) {
                if (response.Code !== "OK") {
                    alert(response.Code);
                    return;
                }
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error("搬移節點失敗：", error);
                alert("搬移節點失敗，請稍後再試！");
            }
        });
    }

    function confirm_edit(el_id, node_id) {
        const original_text = $("#label-" + el_id).text();
        const new_name = $("#input-" + el_id).val().trim();
        try {
            if (new_name === "") {
                throw "名稱不能為空！" ;
            }
            if (new_name == original_text) {
                throw "名稱值相同！" ;
            }
        } catch (err) {
            alert(err);
            reset(el_id) ;
            return;
        }

        const params = {
            id: node_id,
            label: new_name
        };

        $.ajax({
            url: "/api/v1/node/edit",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(params),
            success: function (response) {
                if (response.Code !== "OK") {
                    alert(response.Code);
                    return;
                }
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error("修改節點失敗：", error);
                alert("修改節點失敗，請稍後再試！");
            }
        });
    }

</script>
{{end}}