{{template "share" .}}

{{define "css"}}
{{end}}

{{define "content"}}
    {{range .List}}
    <div class="card mt-3 border">
        <div class="card-body">
            <h5 class="card-title">[{{format .UpdateDt}}]&nbsp;{{.Title}}</h5>
            <div class="card-text border-top border-bottom py-2">{{trans .Content}}</div>
            <div class="d-flex justify-content-end gap-2 mt-3">
                <a href="#" class="btn btn-outline-primary btn-sm" onclick="console.log('{{encrypt .RowID}}')">修改</a>
                <a href="#" class="btn btn-outline-danger btn-sm" onclick="console.log('{{encrypt .RowID}}')">刪除</a>
            </div>
        </div>
    </div>
    {{end}}
{{end}}

{{define "js"}}
{{end}}